html {
  font-family: "Courier New", Courier, monospace;
}

body {
  height: 900px;
  display: flex;
  flex-direction: column;
}

h1 {
  text-decoration: underline;
  text-align: center;
}

table {
  margin-top: 50px;
  width: 700px;
  height: 400px;
  align-self: center;
  border: 2px solid red;
  padding: 0px;
}

.rank {
  color: white;
  text-align: center;
}

td,
th {
  border-top: 2px;
  border-bottom: 2px;
  margin: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}

td:hover,th:hover{
    border-top: 3px;
    border-bottom: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

tr:hover{
    background-color: grey;
}
